
$blue:#2877A8;


html, body {
  height:100%; 
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
    //font-family: 'Muli', sans-serif;
}

* {
    border-radius: 0 !important;
}

.btn-primary {
  color: #fff;
  background-color: $blue;
  border-color: $blue;
}

p.info {

    opacity: 0.8;
    font-size: 1.1em;
    
    span {
        font-size: 1em;
        font-style: italic;
        color: #858599;
    }
}

/* billboard
-------------------------------------------------- */
.billboard {
  margin: 0 auto;
  width: 100%;
  min-height: 50%;
  background-color:#2877A8;
  color:#eee;
  overflow:hidden;
  position: relative;
    
    h1 { font-size: 10rem; }    
    
    a  {
        display: block;
        color:#efefef;
        text-decoration:none;
        width: 200px;
        line-height: 50px;
        outline: 1px solid white;
        margin: 0 auto;
    }
    .v-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
    }
}

/* Page content
-------------------------------------------------- */
.page-container {
    margin: -42px auto 0;
    .app-tools {

        .nav-tabs {
            border: none;
            li {
                &.active a {
                    color: $blue;
                }
                a {
                    color: white;
                    
                    &:hover {
                        background: #243845;
                        border-color: #243845;
                        color: white;
                    }
                }
            }
        }

        .tab-content {
            border-bottom: 1px solid #DDDDDD;
            padding: 20px  0 20px 0;
            .tab-pane {
                h2 {
                }
                p {
                }
            }
        }
    }
}

/* Showcase grid
-------------------------------------------------- */
.showcase-grid {
    ul {
        padding: 0;
        margin: 15px 15px;
        border-bottom: 0;
        border-right: 0;
        overflow: hidden;
        list-style: none;
        
        li {
            margin: 0;
            padding: 0;
            
            &.active p {
                opacity: 1;
                transform: scale(2.5);
            }
            
            &.prev_active p {
                opacity: 1;
                transform: scale(1.5);
            }
            
            p {
                line-height: 100px;
                text-align: center;
                font-size: 2rem;
                opacity: 0.4;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

